In [70]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import normalize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import confusion_matrix

import pandas as pd
from pandas import Series
import numpy as np
import csv
import matplotlib.pyplot as plt

In [71]:
df = pd.read_csv('data.csv',encoding='utf-8',error_bad_lines=False)

In [72]:
df.head(5)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [73]:
df.columns

Index(['Unnamed: 0', 'count', 'hate_speech', 'offensive_language', 'neither',
       'class', 'tweet'],
      dtype='object')

In [74]:
print(df.iloc[100][6])

"@ClicquotSuave: LMAOOOOOOOOOOO this nigga @Krillz_Nuh_Care http://t.co/AAnpSUjmYI" &lt;bitch want likes for some depressing shit..foh

In [75]:
df["tweet"] = df['tweet'].str.replace(r'https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)',' ')

In [76]:
df["tweet"] = df['tweet'].str.replace('[^\w\s]',' ')
df["tweet"] = df['tweet'].str.replace('\d+',' ')
df.head(5)
#df.tail(5)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,RT mayasolovely As a woman you shouldn t...
1,1,3,0,3,0,1,RT mleew boy dats cold tyga dwn bad...
2,2,3,0,3,0,1,RT UrKindOfBrand Dawg RT sbaby ...
3,3,3,0,2,1,1,RT C_G_Anderson viva_based she lo...
4,4,6,0,6,0,1,RT ShenikaRoberts The shit you...

In [91]:
words = df['tweet'].str.split()
df.iloc[3][6]

'look like'

In [78]:
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['tweet'] = df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df['tweet'] = df['tweet'].apply(lambda x: x.lower())
all_words = df['tweet'].str.split()
'''all_words = nltk.FreqDist(df['tweet'])
print(all_words.most_common(15))'''
df.head(5)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,rt mayasolovely as woman complain cleaning hou...
1,1,3,0,3,0,1,rt mleew boy dats cold tyga dwn bad cuffin dat...
2,2,3,0,3,0,1,rt urkindofbrand dawg rt sbaby life you ever f...
3,3,3,0,2,1,1,rt c_g_anderson viva_based look like tranny
4,4,6,0,6,0,1,rt shenikaroberts the shit hear might true mig...

In [79]:
words = set(nltk.corpus.words.words())

In [80]:
import nltk
words = set(nltk.corpus.words.words())
df['tweet'] = df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word in (words)]))
df.head(5)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,as woman complain cleaning house man always ta...
1,1,3,0,3,0,1,boy cold bad cuffin hoe st place
2,2,3,0,3,0,1,life you ever bitch start cry you confused
3,3,3,0,2,1,1,look like
4,4,6,0,6,0,1,the hear might true might faker bitch told ya

In [81]:
X = df[['tweet']]
Y = df[['class']]
x_train, x_test, y_train, y_test = train_test_split(X['tweet'],Y['class'],test_size=0.3,random_state=37)

In [82]:
vec = CountVectorizer()
vec.fit(X['tweet'])

x_train = vec.transform(x_train)

x_test = vec.transform(x_test)

In [83]:
NB = MultinomialNB(alpha=.6)
NB.fit(x_train,y_train)
NB_predicted = NB.predict(x_test)
NBC = NB.score(x_test,y_test)
print("\nAccuracy of Naive Bayes Classifier: ",NBC*100,"%\n")

Accuracy of Naive Bayes Classifier:  84.53261600537996 %

In [84]:
NB = LogisticRegression()
NB.fit(x_train,y_train)
NB_predicted = NB.predict(x_test)
NBC = NB.score(x_test,y_test)
print("\nAccuracy of Linear Regression: ",NBC*100,"%\n")

Accuracy of Linear Regression:  84.93611297915265 %

In [85]:
RF = RandomForestClassifier(max_depth=500)
RF.fit(x_train,y_train)
RF_predicted = RF.predict(x_test)
RFC = RF.score(x_test,y_test)
print("\nAccuracy of Random Forest Classifier: ",RFC*100,"%\n")

Accuracy of Random Forest Classifier:  83.84667114996638 %

In [86]:
S = LinearSVC()
S.fit(x_train,y_train)
S_predicted = S.predict(x_test)
SC = S.score(x_test,y_test)
print("\nAccuracy of Linear Support Vector Classifier: ",SC*100,"%\n")

Accuracy of Linear Support Vector Classifier:  83.51042367182247 %